.stickyNavbar {
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure it's above other content */
  background-color: white; /* Ensures the navbar background is solid */
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0; /* Optional: A bottom border for distinction */
}

.fusionTabsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.fusionActiveRecentTab {
  background-color: #007bff;
  color: white;
}

.fusionCaretCircleIcon {
  font-size: 24px;
}
